<div class="single-article single-article-small-pic">
  <% cache story do %>
    <%= render "articles/single_story_body", story: story %>
  <% end %>
  <%= render "articles/single_story_reactions", story: story %>
  <a
    href="<%= story.path %>"
    class="article-reading-time">
    <%= story.reading_time < 1 ? 1 : story.reading_time %> min read
  </a>
  <button
    class="article-engagement-count bookmark-engage"
    data-reactable-id="<%= story.id %>"
    aria-label="Save to reading list"
    title="Save to reading list">
    <span class="bm-success">SAVED</span>
    <span class="bm-initial">SAVE</span>
  </button>
</div>
